.footerPhone {
    padding: $pd-7 0;
    background-color: $color-blue-2;
    color: $color-white-1;

    .nav-link {
        @include styleText($fs-3, $fw-2, $color-white-1);
        margin-left: $pd-3;
        transition: 0.2s;
        &:hover {
            transform: scale(1.3);
            color: $color-yellow-1;
        }
    }
}
